
@media screen and (max-width: 600px) {
    body {
      width: 100vw;
      height: 100vh;
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      color: black;
      font-weight: bold;
    }
  
    header,
    nav,
    footer {
      height: 10vh;
      line-height: 30px;
      background-color: lemonchiffon;
      border: #7f007f solid;
    }
  
    nav,
    footer {
      margin-top: 10px;
      border: #7f007f solid;
    }
  

    main {
      margin-top: 10px;
      height: 30vh;
      line-height: 30vh;
      background-color: lemonchiffon;
      border: #7f007f solid;
    }
  
    .one,
    .two,
    .three {
      display: flex;
      flex-direction: column;
      background-color: lemonchiffon;
      margin-top: 10px;
      height: 10vh;
      line-height: 10vh;
      border: #7f007f solid;
    }
  }
  
  @media screen and (min-width: 601px) {
    body {
      height: 100vh;
      font-family: 'Times New Roman', Times, serif;;
      font-size: large;
      font-weight: bold;
      text-align: center;
      color: black;
    }
  
    nav,
    footer,
    header {
      height: 40px;
      line-height: 40px;
      background-color: lemonchiffon;
      margin-bottom: 10px;
      border: #7f007f solid;
    }
  
    .container {
      margin-bottom: 10px;
      display: flex;
      height: 80vh;
      line-height: 80vh;
  
      main {
        flex: 0 0 70vw;
        background-color: lemonchiffon;
        border: #7f007f solid;
      }
  
      aside {
        display: flex;
        margin-left: 10px;
        flex-wrap: wrap;
        width: 100vw;
      }
  
      article {
        height: 200px;
        background-color: lemonchiffon;
        border: #7f007f solid;
      }
  
      .one,
      .two,
      .three {
          border: #7f007f;
        background-color: lemonchiffon;
        width: 10vw;
      }
  
      .one {
          border: #7f007f solid;
        margin-right: 10px;
      }
  
      .one,
      .two {
          border: #7f007f solid;
        flex: 1 2 auto;
        height: 30vh;
        line-height: 30vh;
        align-content: space-between
      }
  
      .three {
          border: #7f007f solid;
        flex: 1 2 auto;
        height: 49vh;
        line-height: 49vh;
        margin-top: 10px;
        
      }
    }
  }